# === CONFIGURACIONES Y TEMPORALES ===
.vscode/
__pycache__/
*.pyc
*.pyo
*.log
*.tmp
*.bak

# === JUPYTER NOTEBOOKS Y CHECKPOINTS ===
.ipynb_checkpoints/
*.ipynb

# === ARCHIVOS Y DATOS GENERADOS ===
*.txt
*.csv
*.json
*.parquet
*.duckdb
*.tar.gz

# === FOLDER SALIDAS DE FUZZING Y LOGS ===
automatico/Fuzzing/outputs/
automatico/Logs/
automatico/fuzzing.duckdb
automatico/resumen_fuzzing.parquet
automatico/DatosFuzzing.ipynb
automatico/volcar_monitor_log.py
automatico/raspyArchivos/
automatico/binarios/
automatico/programa/

# === SCRIPTS TEMPORALES / PRUEBA ===
1.0/PC/datosFuzzing/
1.0/PC/sesionesFuzzing/
1.0/outputs/
1.0/borrar.py
1.0/resumen.py
prueba.py
rendimiento.py
log_rendimiento.txt
backupAutomatico*.tar.gz

# === OTROS ===
BackupsDB/
entornotest/
Test/App/salida_htop.txt

